/* *{ border: solid 1px red; } */

@font-face {
    font-family: 'SF Pro Rounded Bold';
    src: url('font/sfprorounded-bold.woff2') format('woff2'),
         url('font/sfprorounded-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: wrap;
}

body {
  font-family: 'Lora', sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  position: relative;
  background: linear-gradient(101.91deg, #B36DB9 13.47%, #7758F2 88.17%);
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  /* background: linear-gradient(45deg, #B36DB9, #7758F2); */
  border-radius: 100px;
  /* box-shadow: 0px 10px 40px gray; */
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 15px;
  min-height: 100px;
  min-width: 700px;
}

.logo {
  height: 100px;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -40px;
  float: left;
  margin-left: 15px;
  margin-right: 1000px;
}

.nav-list {
  font-family: SF Pro Rounded Bold;
  float: right;
  margin-left: 290px;
  text-transform: uppercase;
  font-size: 25px;
  color: #FFFFFF;
  margin-top: 28px;

}

.nav-list li {
  display: inline;
  margin-right:45px;
  margin-left: 20px;
  list-style: none;
  white-space: nowrap;
}

.nav-list a {
  text-decoration: none;
  color:white;
  line-height: 40px;
}

.promo {
  float: left;
}

.sovet {
  float: left;
}

.promo h1 {
  margin: 80px 0 0 70px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 60px;
  line-height: 84px;
  color: #422F8E;
}

.promo p {
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  color: rgb(48, 34, 105);
  font-size: 27px;
  margin: 40px 0 -120px 70px;
  max-width: 1000px;
}

.sovet p {
  
  font-family: 'Montserrat', sans-serif;
  margin: 176px 0 0 70px;
  font-weight: 800;
  font-size: 30px;
  line-height: 84px;
  color: rgb(163, 163, 163);

}

.sovet h2 {
  margin: 10px 0 100px 70px;
  font-family: 'Lora', sans-serif;
  font-weight: 800;
  font-size: 45px;
  color: rgb(81, 65, 145);
}


/* В И Д Е О У Р О К И */
.container {
  text-align: center;
}

.active a {
  position: relative;
  z-index: 1;
}

.active-block {
  position: absolute;
  top: 25px;
  width: 214px;
  height: 45px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.274);
}

.nav-list a:hover {
  color: rgb(55, 39, 117);
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-block {
  margin-right: 60px;
  margin-left: 60px;
  margin-top: 50px;
  margin-bottom: 60px;
  min-width: 550px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 40px;
  padding: 1px 50px 50px 50px;
}

.main-block h2 {
  text-transform: uppercase;
  font-family: SF Pro Rounded Bold;
  font-size: 50px;
  color: #422F8E;
  margin-bottom: 60px;
}

.content-block {
  /* border-radius: 20px; */
  position: relative;
  margin: 10px;
  width: 350px;
  height: 300px;
  background-color: rgb(116, 92, 126);
  display : inline-block;
  vertical-align: top;
  line-height: normal;
}

.name h3 {
  font-family: SF Pro Rounded Bold;
  font-size: 20px;
  color: white;  
  position: absolute;
  bottom: 0px;
  left: 20px;
  text-align: right;
  padding-right: 20px;
  background-color: rgba(255, 255, 255, 0.185);
}

.data {
  font-family: SF Pro Rounded Bold;
  font-size: 15x;
  color: white;  
  float: left;
  margin: 20px;
}

.author {
  font-family: SF Pro Rounded Bold;
  font-size: 15x;
  color: white;  
  float: right;
  margin: 20px;
}
